@charset "utf-8";

body{
    margin: 0px;
    background-color: white;
}

main{
    background-color:white;
    margin: 50px auto ;
    width: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}
.container-calculadora{
    width: 230px ;
    margin: 25px auto ;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 10px;
    border:3px solid red;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    
}
.text{
    font-size: 20px;
    padding-top: 8px;
    background-color: white;
    margin:8px;
    width: 91%;
    height: 33px;
    border-radius: 6px;
    text-align: center;
}

table{
    margin: auto;
}
td{
   
    
}
.botao{
    background-color:black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    color: white;
    cursor: pointer;
    
}

.botao:hover{
    background-color: rgb(31, 31, 31);

}
.botao:active{
    background-color: green;
}
.botaoN{
    background-color:rgb(211, 67, 15);
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    color: white;
    cursor: pointer;
}
.botaoO{
    background-color:rgb(95, 7, 7);
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    color: white;
    cursor: pointer;
}
.botaO:hover{
    background-color:rgb(80, 5, 5);

}
.botaoO:active{
    background-color: green;
}

.botaoN:hover{
    background-color:rgb(174, 56, 14);

}
.botaoN:active{
    background-color: green;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(109, 17, 17);
}